/* pages/login/login.wxss */
.page-body {
  padding: 20rpx;
}

.page-section{
  margin-top: 20rpx;
}

button {margin: 10px;}
.other-button-hover {
  background-color: #3B62E0;
}
.button-hover {
  background-color: #3B62E0;
}