
.chatroom-container[data-v-5fca8d1f] {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #fafafa;
}
.item[data-v-5fca8d1f] {
    width: 100%;
    height: 50px;
    padding: 10px 10px;
    background: white;
    display: flex;
    align-items: center;
}
.item uni-image[data-v-5fca8d1f] {
    max-width: 15px;
    max-height: 15px;
    margin-right: 10px;
}
.item uni-text[data-v-5fca8d1f] {
    flex: 1;
}
.item i[data-v-5fca8d1f] {
    color: #d6d6d6;
}
.item[data-v-5fca8d1f]:active {
    background: #d6d6d6;
}


