
.discovery-container[data-v-7164f316] {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: var(--page-full-height-without-header-and-tabbar);
    background: #fafafa;
    overflow: hidden;
}
.item[data-v-7164f316] {
    width: 100%;
    padding: 15px 10px;
    margin: 5px 0;
    background: white;
    display: flex;
    align-items: center;
}
.item uni-image[data-v-7164f316] {
    max-width: 20px;
    max-height: 20px;
    margin-right: 10px;
}
.item uni-text[data-v-7164f316] {
    flex: 1;
}
.item i[data-v-7164f316] {
    color: #d6d6d6;
}
.item[data-v-7164f316]:active {
    background: #d6d6d6;
}


