
.user-detail-container[data-v-13018850] {
    margin-left: 90px;
    margin-right: 90px;
    border-top-right-radius: var(--main-border-radius);
    border-bottom-right-radius: var(--main-border-radius);
}
.header[data-v-13018850] {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #e6e6e6;
}
.header .avatar[data-v-13018850] {
    width: 80px;
    height: 80px;
    border-radius: 2px;
}
.header h2[data-v-13018850] {
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 5px;
}
.content[data-v-13018850] {
    width: 100%;
    text-align: left;
}
.content ul[data-v-13018850] {
    list-style: none;
    margin: 20px 0;
}
.content ul li[data-v-13018850] {
    margin-left: 0;
    height: 40px;
    line-height: 40px;
    display: flex;
}
.content ul li uni-label[data-v-13018850] {
    margin-right: 20px;
}
.content ul li .alias > uni-input[data-v-13018850] {
    width: 100%;
    border: none;
    height: 20px;
}
.content ul li > div[data-v-13018850] {
    display: inline-block;
    flex: 1;
}
.footer[data-v-13018850] {
    display: flex;
    justify-content: center;
}
.footer a[data-v-13018850] {
    margin-top: 30px;
    color: white;
    padding: 10px 40px;
    background-color: #3497f1;
    border-radius: 5px;
    border: 1px solid transparent;
}
.footer a[data-v-13018850]:active {
    background-color: #4168e0;
}

