
.friend-request-container[data-v-a7f616a9] {
    display: flex;
    flex-direction: row;
    margin: 40px 30px 30px 30px
}
.avatar[data-v-a7f616a9] {
    width: 80px;
    height: 80px;
    border-radius: 3px;
}
.info-action-container[data-v-a7f616a9] {
    width: 100%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
.info-action-container uni-input[data-v-a7f616a9] {
    margin-top: 20px;
    height: 30px;
    width: 100%;
    padding: 0 5px;
}
.info-container[data-v-a7f616a9] {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info-container .title[data-v-a7f616a9] {
    font-size: 20px;
    padding-top: 5px;
}
.info-container .desc[data-v-a7f616a9] {
    font-size: 16px;
    padding-bottom: 5px;
}
.info-action-container .action-container[data-v-a7f616a9] {
    margin-top: 20px;
    align-self: flex-end;
}
.info-action-container .action-container uni-button[data-v-a7f616a9] {
    margin: 0 5px 0 20px;
    padding: 3px 20px;
    border-radius: 4px;
    outline: none;
}
.info-action-container .action-container .cancel[data-v-a7f616a9] {
    border: 1px solid #cccccc;
}
.info-action-container .action-container .cancel[data-v-a7f616a9]:active {
    background: #cccccc;
}
.info-action-container .action-container .confirm[data-v-a7f616a9] {
    background-color: #20bf64;
    color: white;
    border: 1px solid white;
}
.info-action-container .action-container .confirm[data-v-a7f616a9]:active {
    background-color: #209f64;
}



.search-result-container[data-v-770e6af6] {
    margin-top: 35px;
    height: calc(100% - 35px);
    /*background-color: red;*/
    background-color: #f3f3f3e5;
}
.search-result-container .empty-container[data-v-770e6af6] {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: grey;
}
.search-result-container ul[data-v-770e6af6] {
    list-style: none;
    background-color: white;
}
.search-result-category-container[data-v-770e6af6] {
    /*position: sticky;*/
    /*min-height: 40px;*/
    /*!* #ifndef APP-PLUS-NVUE *!*/
    /*position: -webkit-sticky;*/
    /*!* #endif *!*/
    /*top: 0;*/
    /*left: 0;*/
}
.search-result-category-container uni-label[data-v-770e6af6] {
    color: #828282;
    background: #EDEDED;
    display: block;
    padding-top: 10px;
    padding-bottom: 2px;
    padding-left: 12px;
    border-bottom: 1px solid #eeeeee;
}
.search-result-item[data-v-770e6af6] {
    background-color: white;
    padding: 10px 12px;
    display: flex;
    align-items: center;
}
.search-result-item[data-v-770e6af6]:active {
    background-color: #d9d9d9;
}
.search-result-item img[data-v-770e6af6] {
    width: 34px;
    height: 34px;
    border-radius: 2px;
}
.search-result-item span[data-v-770e6af6] {
    font-size: 14px;
    padding-left: 10px;
}
.search-result-item.conversation .title-desc[data-v-770e6af6] {
    display: flex;
    flex-direction: column;
}
.search-result-item.conversation .title-desc .desc[data-v-770e6af6] {
    font-size: 12px;
    color: grey;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.search-result-item.contact uni-button[data-v-770e6af6] {
    margin-left: auto;
    padding: 3px 10px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    outline: none;
}
.search-result-item.contact uni-button[data-v-770e6af6]:active {
    background: #cccccc;
}
.search-result-item.message[data-v-770e6af6] {
    height: 54px;
    display: flex;
    align-items: center;
}
.show-all[data-v-770e6af6] {
    padding-left: 12px;
    color: #66789d;
    font-size: 12px;
}



.search-portal-container[data-v-f93be52b] {
    height: var(--page-full-height-without-header);
    overflow: auto;
    position: relative;
}
.search-portal-container uni-input[data-v-f93be52b] {
    padding: 5px 10px;
    height: 35px;
    box-sizing: border-box;
    border-bottom: 1px solid lightgrey;
    position: fixed;
    width: 100%;
    top: var(--uni-page-header-height);
    left: 0;
    background-color: white;
    z-index: 99;
}
.search-portal-container .tip-container[data-v-f93be52b] {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: grey;
}

