
.conference-portal-container[data-v-f31c2444] {
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
}
.left-slider[data-v-f31c2444] {
    width: 100%;
    background: white;
    padding: 20px;
}
.left-slider > .title[data-v-f31c2444] {
    font-size: 20px;
}
.action-container[data-v-f31c2444] {
    width: 100%;
    display: flex;
}
.action[data-v-f31c2444] {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 10px 10px 0;
}
.action[data-v-f31c2444]:active {
    filter: invert(25%);
}
.action .icon[data-v-f31c2444] {
    width: 40px;
    height: 40px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.action .icon i[data-v-f31c2444] {
    font-size: 20px;
}
.action .title[data-v-f31c2444] {
    margin-top: 15px;
}
.right-slider[data-v-f31c2444] {
    height: 100%;
    background: #f8f9fb;
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 20px;
}
.fav-container[data-v-f31c2444] {
}
.empty[data-v-f31c2444] {
    display: flex;
    align-items: center;
    padding: 15px;
    background: white;
    border-radius: 10px;
    font-size: 12px;
}
.fav-container .fav-list[data-v-f31c2444] {
    background: white;
    border-radius: 10px;
}
.fav-conference[data-v-f31c2444] {
    display: flex;
    align-items: center;
    padding: 15px;
    box-sizing: content-box;
}
.fav-conference[data-v-f31c2444]:active {
    background: #f1f1f1;
}
.fav-conference .icon[data-v-f31c2444] {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: #e0e9fb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.fav-conference[data-v-f31c2444]:not(:last-of-type) {
    border-bottom: 1px solid #f1f1f1;
}
.fav-conference .title[data-v-f31c2444] {
}
.fav-conference .desc[data-v-f31c2444] {
    color: gray;
    margin-top: 3px;
    font-size: 12px;
}
.history-container[data-v-f31c2444] {
    margin-top: 20px;
}

