
.container[data-v-10473c79] {
        width: 23.4375rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative;
        background: rgb(41, 41, 41)
}
.content-container[data-v-10473c79] {
        width: 23.4375rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative;
}
.action-container[data-v-10473c79] {
        width: 23.4375rem;
        height: 6.25rem;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 20px;
}
.action-container .action[data-v-10473c79] {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
}
.avatar[data-v-10473c79] {
        width: 60px;
        height: 60px;
        border-radius: 3px;
}
.action-img[data-v-10473c79] {
        width: 60px;
        height: 60px;
}
.remote-media-container[data-v-10473c79] {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 23.4375rem;
        flex: 1;
}
.remote-media-container .avatar[data-v-10473c79]{
        width: 200px;
        height: 200px;
        border-radius: 5px;
}
.desc[data-v-10473c79] {
        color: white;
        font-size: 15px;
        padding: 5px 0;
}
.local-media-container[data-v-10473c79] {
        position: absolute;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
}
.localVideo[data-v-10473c79] {
        width: 150px;
        height: 200px;
}
.localVideo.me[data-v-10473c79] {
        transform: scaleX(-1);
}
.video[data-v-10473c79] {
        width: 23.4375rem;
        flex: 1;
}
.voip-title-container[data-v-10473c79] {
        position: absolute;
        left: 0;
        top: 0;
        width: 23.4375rem;
        display: flex;
        margin-top: 1.375rem;
        padding: 0 1.25rem;
        flex-direction: row;
        align-items: center;
        height: 2.75rem;
}
.voip-title-container .title[data-v-10473c79] {
        position: absolute;
        left: 0;
        top: 0;
        width: 23.4375rem;
        height: 2.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
}
.webrtc-tip[data-v-10473c79] {
        position: absolute;
        color: red;
        left: 0;
        top: 0;
        z-index: 999;
}

